<div th:fragment="html">
    <script>
        $(function(){
            var data4Vue = {
                uri:'foreregister',
                result: [],
                user:{name:'', password:'', repeatpassword:''}
            };
            //ViewModel
            var vue = new Vue({
                el: '#workingArea',
                data: data4Vue,
                mounted:function(){
                    linkDefaultActions();
                },
                methods: {
                    register:function(){
                        var url =  this.uri;
                        if(0==this.user.name.length){
                            $("span.errorMessage").html("Please enter your username");
                            $("div.registerErrorMessageDiv").css("visibility","visible");
                            return;
                        }
                        if(0==this.user.password.length){
                            $("span.errorMessage").html("Please enter your password");
                            $("div.registerErrorMessageDiv").css("visibility","visible");
                            return;
                        }
                        if(0==this.user.repeatpassword.length){
                            $("span.errorMessage").html("Please repeat the password");
                            $("div.registerErrorMessageDiv").css("visibility","visible");
                            return;
                        }
                        if(this.user.password !=this.user.repeatpassword){
                            $("span.errorMessage").html("Repeat password inconsistency");
                            $("div.registerErrorMessageDiv").css("visibility","visible");
                            return;
                        }

                        axios.post(url,this.user).then(function(response) {
                            var result = response.data;
                            if(result.code==0){
                                location.href="registerSuccess";
                            }
                            else{
                                $("span.errorMessage").html(result.message);
                                $("div.registerErrorMessageDiv").css("visibility","visible");
                            }
                        });
                    }
                }
            });
        })
    </script>
    <div class="registerDiv">
        <div class="registerErrorMessageDiv">
            <div class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                <span class="errorMessage"></span>
            </div>
        </div>


        <table class="registerTable" align="center">
            <tr>
                <td  class="registerTip registerTableLeftTD">Set Username</td>
                <td></td>
            </tr>
            <tr>
                <td class="registerTableLeftTD">Name</td>
                <td  class="registerTableRightTD"><input v-model="user.name" placeholder="Name" > </td>
            </tr>
            <tr>
                <td  class="registerTip registerTableLeftTD">Set Password</td>
                <td  class="registerTableRightTD"></td>
            </tr>
            <tr>
                <td class="registerTableLeftTD">Password</td>
                <td class="registerTableRightTD"><input v-model="user.password"  type="password"  placeholder="Set your password" > </td>
            </tr>
            <tr>
                <td class="registerTableLeftTD">Password Confirm</td>
                <td class="registerTableRightTD"><input v-model="user.repeatpassword"   type="password"  placeholder="Please enter your password again" > </td>
            </tr>

            <tr>
                <td colspan="2" class="registerButtonTD">
                    <a @click="register"><button>Submit</button></a>
                </td>
            </tr>
        </table>
    </div>
</div>
