<nav class="top" th:fragment="html">
    <a th:href="${application.contextPath}">
        <span style="color:#C40000;margin:0px" class=" glyphicon glyphicon-home redColor"></span>
        Home
    </a>

    <span>Welcome</span>

    <span th:if="${null!=session.user}">
		<a href="login" th:text="${session.user.name}"></a>
		<a href="forelogout" >Logout</a>
	</span>


    <span th:if="${null==session.user}">
		<a href="login">Login</a>
		<a href="register">Register</a>
	</span>


    <span class="pull-right">
			<a href="bought">My Order</a>
			<a href="cart">
			<span style="color:#C40000;margin:0px" class=" glyphicon glyphicon-shopping-cart redColor"></span>
			Cart</a>
	</span>
</nav>



